<!DOCTYPE html>
<html lang="pt-br">
 	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Projeto Calendário - Agenda</title>
		
		<!-- Bootstrap -->

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<!--
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="bootstrap/js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		 -->

		<link rel="stylesheet" href="/estilo.css" type="text/css">

  	</head>

  	<body>

  		<!--NAV BAR-->
  		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #214f85;">
			<div class="container">

				<a class="navbar-brand mb-0 h1" href="agenda">
					<img src="/imgs/calendar.png" width="30" height="30" class="d-inline-block align-top" alt="">
						Projeto Calendário
				</a>
  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  				</button>
				

			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">

				    <ul class="navbar-nav ml-auto">

				      	<li class="nav-item active">
				        	<a class="nav-link" href="agenda">Agenda<span class="sr-only">(current)</span></a>
				      	</li>

				      	<li class="nav-item">
				        	<a class="nav-link" href="professores">Professores</a>
				      	</li>

				      	<li class="nav-item">
				        	<a class="nav-link" href="pagamentos">Pagamentos</a>
				      	</li>

				      	<li class="nav-item">
				        	<a class="nav-link" href="/">| Deslogar</a>
				      	</li>

				    </ul>
			  	</div>

			</div>  	
		</nav>
		<!-- / NAV BAR-->

		<!-- 1 RoW-->
		<div class="row">
			<div class="col-md-2">
			</div>


			<!-- Calendário-->
			<div class="pagPadrao col-md-8">
				<h1>Calendário</h1>
				<p>Testando aqui</p>

			</div>
			<!-- / Calendário-->

			<!-- Botões-->
			<div class="botoesCalendario col-md-2">

				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<button type="button" class="btn btn-outline-secondary" name="options" id="option2>Secondary"><img src="/imgs/plus.png" width="20" height="20"></button>
				  	<button type="button" class="btn btn-outline-secondary" name="options" id="option2>Secondary"><img src="/imgs/minus.png" width="20" height="20"></button>
				</div>
			</div>
			<!-- / Botões-->


		</div>
		<!-- / 1 RoW-->


		<!-- 2 RoW-->
		<!-- Tabela-->
		<div class="row justify-content-center">
			<div class="tabela col-md-10">
				
				<h1>Tabela</h1>
				

				<table class="table table-striped table-hover table-condensed">
	                <thead>
	                    <tr>
	                        <th>Aula dada</th>
	                        <th>Professor</th>
	                        <th>Matéria</th>
	                        <th>Tipo de aula</th>
	                        <th>Aluno</th>
	                        <th>Horário</th>
	                    </tr>
	                </thead>

	                <tbody>
	                    <tr>
	                    	<% agendamentos.forEach( agenda => { %>
	                    	

	                        <td>
	                        	<div class="radio">
				                    <label>
				                        <input type="radio" id="radioAula" idname="AULA_DADA" value="true"> Sim
				                    </label>
				                    <label>
				                        <input type="radio" idname="AULA_DADA" value="false" selected> Não
				                    </label>
				                </div>
	                        </td>
	                        <td><% agenda.PROFESSOR %></td>
	                        <td><% agenda.MATÉRIA %></td>
	                        <td><% agenda.TIPO_DE_AULA %></td>
	                        <td><% agenda.ALUNO %></td>
	                        <td><% agenda.HORÁRIO_DA_AULA %></td>
	                    </tr>
	                   <% }) %>
	                </tbody>
          		</table>


			</div>
		</div>
		<!-- / Tabela-->
		<!-- / 2 RoW-->



  	</body>
</html>