<!DOCTYPE html>
<html lang="pt-br">
 	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Projeto Calendário - Agenda</title>
		
		<!-- Bootstrap -->

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<!--
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="bootstrap/js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		 -->
		
		<link href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.css' rel='stylesheet' />
		<link href='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

		<link rel="stylesheet" href="/estilo.css" type="text/css">

		<script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/moment.min.js'></script>
		<script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/jquery.min.js'></script>
		<script src='https://fullcalendar.io/releases/fullcalendar/3.9.0/fullcalendar.min.js'></script>
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min
		.js'></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
		$(document).ready(function() {
			$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			defaultDate: '2019-10-23',
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			eventLimit: true, // allow "more" link when too many events
				events: [
				{
				id: 999,
				title: 'Breno Hasparyk Andrade',
				start: '2019-10-02T10:30:00',
				end: '2019-10-02T12:30:00',
				backgroundColor:'cian',
				},
				{
				id: 999,
				title: 'Breno Hasparyk Andrade',
				start: '2019-10-09T10:30:00',
				end: '2019-10-09T12:30:00',
				backgroundColor:'cian',
				},
				{
				id: 999,
				title: 'Breno Hasparyk Andrade',
				start: '2019-10-16T10:30:00',
				end: '2019-10-16T12:30:00',
				backgroundColor:'cian',
				},
				{
				id: 999,
				title: 'Breno Hasparyk Andrade',
				start: '2019-10-23T10:30:00',
				end: '2019-10-23T12:30:00',
				backgroundColor:'cian',
				},
				{
				id: 999,
				title: 'Breno Hasparyk Andrade',
				start: '2019-10-30T10:30:00',
				end: '2019-10-39T12:30:00',
				backgroundColor:'cian',
				},
				{
				title: 'Breno Hasparyk Andarde',
				start: '2019-10-29T16:30:00',
				end: '2019-10-29T18:30:00',
				backgroundColor:'cian',
				},
				{
				title: 'João Victor Leão',
				start: '2019-10-07T17:30:00',
				end: '2019-10-07T19:30:00',
				backgroundColor:'red',
				},
				{
				title: 'João Victor Leão',
				start: '2019-10-25T19:30:00',
				end: '2019-10-25T21:30:00',
				backgroundColor:'red',
				},
				{
				title: 'João Victor Leão',
				start: '2019-10-30T10:30:00',
				end: '2019-10-30T12:30:00',
				backgroundColor:'red',
				},
				{
				title: 'João Victor Leão',
				start: '2019-11-18T10:30:00',
				end: '2019-11-18T12:30:00',
				backgroundColor:'red',
				},
				{
				title: 'Mozaniel Pereira e Silva',
				start: '2019-10-11T08:30:00',
				end: '2019-10-11T10:30:00',
				backgroundColor:'green',
				},
				{
				title: 'Mozaniel Pereira e Silva',
				start: '2019-10-21T13:30:00',
				end: '2019-10-21T15:30:00',
				backgroundColor:'green',
				},
				{
				title: 'Mozaniel Pereira e Silva',
				start: '2019-11-04T10:30:00',
				end: '2019-11-04T12:30:00',
				backgroundColor:'green',
				},
				{
				id: 999,
				title: 'Mozaniel Pereira e Silva',
				start: '2019-11-15T16:00:00',
				backgroundColor:'green',
				},
				{
				id: 999,
				title: 'Mozaniel Pereira e Silva',
				start: '2019-11-22T16:00:00',
				backgroundColor:'green',
				},
				
				
			],
			eventClick: function(calEvent, jsEvent, view, resourceObj) {
				swal({
					title: calEvent.title,
					text: "Start From : "+moment(calEvent.start).format("MMMM Do YYYY, h:mm a"),
					icon: "success",
				});
			}
			});
			$(".fc-right .fc-button-group").append(
				'<div class="input-group datetimepicker"><input type="text" class="form-control fc-datepicker" placeholder="YYYY-MM-DD" style="padding: 0;width: 0;border: none;margin: 0;"></div>');
				$(".fc-datepicker").datepicker({
				dateFormat: 'yy-mm-dd',
				showOn: "button",
				buttonText: '<span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>'
				});
		});
		</script>

  	</head>

  	<body>

  		<!--NAV BAR-->
  		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #214f85;">
			<div class="container">

				<a class="navbar-brand mb-0 h1" href="agenda">
					<img src="/imgs/calendar.png" width="30" height="30" class="d-inline-block align-top" alt="">
						Projeto Calendário
				</a>
  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  				</button>
				

			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">

				    <ul class="navbar-nav ml-auto">

				      	<li class="nav-item active">
				        	<a class="nav-link" href="agenda">Agenda<span class="sr-only">(current)</span></a>
				      	</li>

				      	<li class="nav-item">
				        	<a class="nav-link" href="professores">Professores</a>
				      	</li>

				      	<li class="nav-item">
				        	<a class="nav-link" href="pagamentos">Pagamentos</a>
				      	</li>

				      	<li class="nav-item">
				        	<a class="nav-link" href="/">| Deslogar</a>
				      	</li>

				    </ul>
			  	</div>

			</div>  	
		</nav>
		<!-- / NAV BAR-->

		<!-- 1 RoW-->
		<div class="row">
			<div class="col-md-2">
			</div>


			<!-- Calendário-->
			<div class="pagPadrao col-md-8">
				<h1>Calendário</h1>
				<div id='calendar'></div>

			</div>
			<!-- / Calendário-->

			<!-- Botões-->
			<div class="botoesCalendario col-md-2">

				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<button type="button" class="btn btn-outline-secondary" name="options" id="option2>Secondary"><img src="/imgs/plus.png" width="20" height="20"></button>
				  	<button type="button" class="btn btn-outline-secondary" name="options" id="option2>Secondary"><img src="/imgs/minus.png" width="20" height="20"></button>
				</div>
			</div>
			<!-- / Botões-->


		</div>
		<!-- / 1 RoW-->


		<!-- 2 RoW-->
		<!-- Tabela-->
		<div class="row justify-content-center">
			<div class="tabela col-md-10">
				
				<h1>Tabela</h1>
				

				<table class="table table-striped table-hover table-condensed">
	                <thead>
	                    <tr>
	                        <th>Aula dada</th>
	                        <th>Professor</th>
	                        <th>Matéria</th>
	                        <th>Tipo de aula</th>
	                        <th>Aluno</th>
	                        <th>Horário</th>
	                    </tr>
	                </thead>

	                <tbody>
	                    <tr>
	                    	<% agendados.forEach( agend => { %>
	                    	

	                        <td>
	                        	<div class="radio">
				                    <label>
				                        <input type="radio" id="radioAula" idname="AULA_DADA" value="true"> Sim
				                    </label>
				                    <label>
				                        <input type="radio" idname="AULA_DADA" value="false" selected> Não
				                    </label>
				                </div>
	                        </td>
	                        <td><% agend.PROFESSOR %></td>
	                        <td><% agend.MATÉRIA %></td>
	                        <td><% agend.TIPO_DE_AULA %></td>
	                        <td><% agend.ALUNO %></td>
	                        <td><% agend.HORÁRIO_DA_AULA %></td>
	                    </tr>
	                   <% }) %>
	                </tbody>
          		</table>


			</div>
		</div>
		<!-- / Tabela-->
		<!-- / 2 RoW-->



  	</body>
</html>