.calendario{
	border-color: gray;
	border-width: 0px 1px;
	border-style: solid;
	margin-top: 60px;
	padding-top: 10px; 
}

.tabela{
	margin-top: 60px;
	padding-top: 10px; 
}

.professores{
	border-color: gray;
	border-width: 0px 1px;
	border-style: solid;
	margin-top: 60px;
	padding-top: 10px; 

}

.botoesProfessores{
	text-align: right;
}

.colunaTable{
	width: 50%
}

.pagamentos{
	border-color: gray;
	border-width: 0px 1px;
	border-style: solid;
	margin-top: 60px;
	padding-top: 10px; 

}

.pagamentoProfessor{
	border-color: #E2E2E2;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	margin-top: 10px;
	padding-top: 50px; 

}